[submodule "libtorrent"]
	path = libtorrent
	url = https://github.com/arvidn/libtorrent.git
[submodule "curlpp"]
	path = curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/mul"]
	path = extern/mul
	url = git@github.com:Apelsimon/mul.git
